<% layout('layouts/boilerplate')%>
   <div class="row">
    <h1 class="text-center">New Camprounds</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                  <label class="form-label" for="title">Title</label>
                  <input class="form-control"  type="text" id="title" name="campground[title]" required>
                   <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label"  for="location">Location</label>
                <input class="form-control" id="location" name="campground[location]" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
           
          <!--<div class="mb-3">
                <label class="form-label"  for="image">Image</label>
                <input class="form-control" id="image" name="campground[image]" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>-->  
            <div class="mb-3">
                <label class="form-label"  for="price" >Campground price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label" >$</span>
                <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" name="campground[price]" aria-describedby="price-label" name="campground[price]" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label"  for="description">Description</label>
                <textarea class="form-control" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <label class="form-label"  for="addimages">Add Image(s)</label>
            <input type="file" name="image" id="" multiple>
                       
            <div class="mb-3"></div>
            <button class="btn btn-success">Add Campground</button>
        </form>
        <p>
        <a href="/campgrounds">Back to all campgrounds</a></p>
    </div>
   </div>

   <script>
    (function () {
  'use strict'

  
  var forms = document.querySelectorAll('.validated-form')

  
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
   </script>
   
    
